{% extends 'base.html.twig' %}

{% block body %}
    <h1>Business</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ business.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ business.name }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ business.photo }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if business.createdAt %}{{ business.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updateat</th>
                <td>{% if business.updateAt %}{{ business.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('business_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('business_edit', { 'id': business.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
