{% extends 'base.html.twig' %}

{% block body %}
    <h1>Available</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ available.id }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ available.day }}</td>
            </tr>
            <tr>
                <th>Startam</th>
                <td>{% if available.startAm %}{{ available.startAm|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Endam</th>
                <td>{% if available.endAm %}{{ available.endAm|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Startpm</th>
                <td>{% if available.startPm %}{{ available.startPm|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Endpm</th>
                <td>{% if available.endPm %}{{ available.endPm|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('available_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('available_edit', { 'id': available.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
